/* Utility Classes */

.flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* General */

:root {
  --nav-height: 56px;
  --nav-color: #212121;
  --search-button-color: hsl(0, 0%, 18.82%);
  --main-color: rgb(24, 24, 24);
  --text-color: white;
  --text-secondary-color: rgb(170, 170, 170);
  --content-column-spacing: 24px;
}

* {
  box-sizing: border-box;
  margin: 0;
  color: #fff;
  font-family: "Roboto", sans-serif;
}

/* Page Structure */

nav {
  background-color: var(--nav-color);
  height: var(--nav-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  background-color: var(--main-color);
  min-height: calc(100vh - var(--nav-height));
  display: grid;
  grid-template-columns: [primary-start] 70% [primary-end secondary-start] 30% [secondary-end];
  grid-template-areas: "primary primary secondary";
}

.primary-column {
  grid-area: primary;
  padding: var(--content-column-spacing) var(--content-column-spacing) 0 0;
  margin-left: var(--content-column-spacing);
}

.secondary-column {
  grid-area: secondary;
  padding: var(--content-column-spacing) var(--content-column-spacing) 0 0;
}

/* Nav Bar Content */

nav > .start {
  margin: 0 15px;
  cursor: pointer;
}

nav > .center {
  height: 40px;
}

nav > .end {
  margin: 0 15px;
}

.logo-container {
  height: var(--nav-height);
  width: 90px;
  pointer-events: none;
}

.hamburger-icon {
  margin-right: 15px;
}

.search-bar {
  width: 35vw;
  font-size: 1rem;
  height: 100%;
  background-color: var(--main-color);
  color: var(--text-color);
  border: 1px solid var(--search-button-color);
  border-radius: 2px 0 0 2px;
  padding: 0 0 0 0.5rem;
}

.search-bar:focus {
  outline: none;
  border: 1px solid rgb(28, 98, 195);
}

::placeholder {
  /* For the placeholder text color in the nav search bar */
  color: #717171;
}

.search-button {
  height: 100%;
  border: 1px solid var(--search-button-color);
  border-radius: 0 2px 2px 0;
  border-left: none;
  background-color: var(--search-button-color);
  padding: 0 20px;
  margin: 0 10px 0 0;
  cursor: pointer;
}

.microphone-icon {
  height: 100%;
  width: 40px;
  padding: 10px;
  background-color: var(--main-color);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.navEndButton {
  height: 35px;
  width: 35px;
  border: none;
  background-color: transparent;
  margin-right: 15px;
}

.account-button {
  height: 30px;
  width: 30px;
  border: none;
  border-radius: 50%;
  color: white;
  font-size: larger;
  background-color: rgb(236, 64, 122);
  margin: 0 0 0 15px;
}

/* Primary Column Content */

.video-player {
  width: 100%;
  aspect-ratio: 16/9;
  display: block;
  background-color: aqua;
}

.video-info {
  height: 9vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem 0 1rem 0;
}

.video-info-primary {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.video-title {
  font-size: 1.2rem;
  font-weight: 300;
}

.video-views {
  font-size: smaller;
  color: var(--text-secondary-color);
}

.video-info-secondary {
  display: flex;
  align-self: flex-end;
}

.video-info-secondary > button {
  border: none;
  background-color: transparent;
  margin: 0 0 0 1rem;
  height: 2rem;
  display: flex;
  align-items: center;
  margin: 0 5px;
}

.video-info-secondary > button > svg {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

.video-meta {
  height: 18vh;
  background-color: purple;
}

.comment-section-header {
  height: 12vh;
  background-color: orange;
}

.comments-container {
  height: 70vh;
  background-color: cornflowerblue;
}

/* Secondary Column Content */

.tags-collection {
  height: 4vh;
  background-color: chartreuse;
}

.suggestions-container {
  margin: 0;
  height: 151vh;
  background-color: cadetblue;
}
