/* Utility Classes */

.flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* General */

:root {
  --nav-height: 56px;
  --nav-color: #212121;
  --search-button-color: hsl(0, 0%, 18.82%);
  --main-color: rgb(24, 24, 24);
  --text-color: white;
  --text-secondary-color: rgb(170, 170, 170);
  --content-column-spacing: 24px;
  --link-color: rgb(62, 166, 255);
}

* {
  box-sizing: border-box;
  margin: 0;
  color: #fff;
  font-family: "Roboto", sans-serif;
}

a {
  color: var(--link-color);
}

/* Page Structure */

nav {
  background-color: var(--nav-color);
  height: var(--nav-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  background-color: var(--main-color);
  min-height: calc(100vh - var(--nav-height));
  display: grid;
  grid-template-columns: [primary-start] 70% [primary-end secondary-start] 30% [secondary-end];
  grid-template-areas: "primary primary secondary";
}

@media only screen and (max-width: 768px) {
  main {
    display: flex;
    flex-direction: column;
  }

  .center {
    display: none;
  }
}

.primary-column {
  grid-area: primary;
  padding: var(--content-column-spacing) var(--content-column-spacing) 0 0;
  margin-left: var(--content-column-spacing);
}

.secondary-column {
  grid-area: secondary;
  padding: var(--content-column-spacing) var(--content-column-spacing) 0 0;
  display: flex;
  flex-direction: column;
}

/* Nav Bar Content */

nav > .start {
  margin: 0 15px;
  cursor: pointer;
}

nav > .center {
  height: 40px;
}

nav > .end {
  margin: 0 15px;
}

.logo-container {
  height: var(--nav-height);
  width: 90px;
  pointer-events: none;
}

.hamburger-icon {
  margin-right: 15px;
}

.search-bar {
  width: 35vw;
  font-size: 1rem;
  height: 100%;
  background-color: var(--main-color);
  color: var(--text-color);
  border: 1px solid var(--search-button-color);
  border-radius: 2px 0 0 2px;
  padding: 0 0 0 0.5rem;
}

.search-bar:focus {
  outline: none;
  border: 1px solid rgb(28, 98, 195);
}

::placeholder {
  /* For the placeholder text color in the nav search bar */
  color: #717171;
}

.search-button {
  height: 100%;
  border: 1px solid var(--search-button-color);
  border-radius: 0 2px 2px 0;
  border-left: none;
  background-color: var(--search-button-color);
  padding: 0 20px;
  margin: 0 10px 0 0;
  cursor: pointer;
}

.microphone-icon {
  height: 100%;
  width: 40px;
  padding: 10px;
  background-color: var(--main-color);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.navEndButton {
  height: 35px;
  width: 35px;
  border: none;
  background-color: transparent;
  margin-right: 15px;
}

.account-button {
  height: 30px;
  width: 30px;
  border: none;
  border-radius: 50%;
  color: white;
  font-size: larger;
  background-color: rgb(236, 64, 122);
  margin: 0 0 0 15px;
}

/* Primary Column Content */

.video-player {
  width: 100%;
  aspect-ratio: 16/9;
  display: block;
}

.video-info {
  height: 9vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem 0 1rem 0;
  border-bottom: 1px solid var(--search-button-color);
}

.video-info-primary {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.video-title {
  font-size: 1.2rem;
  font-weight: 300;
}

.video-views {
  font-size: smaller;
  color: var(--text-secondary-color);
}

.video-info-secondary {
  display: flex;
  align-self: flex-end;
}

.video-info-secondary > div {
  display: flex;
  align-self: flex-end;
  position: relative;
}

.video-info-button {
  border: none;
  background-color: transparent;
  height: 2rem;
  display: flex;
  align-items: center;
  margin: 0 0.3rem 0 0.3rem;
}

.video-info-button > svg {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

.like-bar {
  position: absolute;
  bottom: -1rem;
  width: 100%;
  height: 1px;
  background-color: var(--text-secondary-color);
}

.video-meta {
  padding-top: 1rem;
  border: none;
  border-bottom: 1px solid var(--search-button-color);
}

.video-meta-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.video-meta-header > .left {
  display: flex;
}

.author-profile-photo {
  height: 45px;
  width: 45px;
  border: none;
  border-radius: 50%;
  margin: 0 1rem 0 0;
  cursor: pointer;
}

.video-meta-header > .left > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.author-profile {
  font-size: medium;
  font-weight: 400;
  padding-bottom: 4px;
  cursor: pointer;
}

.subscriber-count {
  font-size: small;
  color: var(--text-secondary-color);
}

.subscribe-button {
  border: none;
  border-radius: 2px;
  background-color: red;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.video-description {
  padding: 1rem 4rem;
}

.video-meta > .show-more {
  color: var(--text-secondary-color);
  font-size: smaller;
  padding: 0 4rem 1rem 4rem;
  cursor: pointer;
}

.comment-section-header {
  display: flex;
  align-items: baseline;
  flex-direction: column;
  padding: 0 0 1rem 0;
}

.comment-section-header > div {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1rem 0 0 0;
}

.comment-count {
  margin: 0 1rem 0 0;
}

.comment-sort-button {
  font-size: smaller;
  display: flex;
  align-items: center;
  justify-content: center;
}

.comment-sort-button > svg {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

.comment-sort-button > span {
  white-space: nowrap;
}

.comment-author-profile-image {
  height: 40px;
  width: 40px;
  border: none;
  border-radius: 50%;
  color: white;
  font-size: larger;
  background-color: rgb(236, 64, 122);
}

.comment-input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--search-button-color);
  width: 100%;
  margin: 0 0 0 1rem;
  padding: 0.2rem;
}

.comments-container {
  height: 70vh;
}

.comment {
  display: flex;
  margin: 1rem 0;
}

.comment > div {
  margin: 0 0 0 1rem;
}

.comment-author {
  font-weight: bold;
}

.comment-age {
  color: var(--text-secondary-color);
  font-size: smaller;
}

.comment-content {
  margin: 0.4rem 0 0.7rem 0;
  font-size: small;
}

.comment-interaction {
  margin: 0.5rem 0;
}

.thumb-icon {
  width: 15px;
  height: 15px;
  margin: 0 0.5rem 0 0;
  cursor: pointer;
}

.comment > div > div {
  width: 100%;
  font-size: small;
  display: flex;
  align-items: center;
}

.comment > div > div > span {
  margin: 0 0.5rem 0 0;
}

.comment-reply {
  color: var(--text-secondary-color);
  padding: 0 0 0 0.5rem;
  cursor: pointer;
}

.view-replies {
  color: var(--link-color);
  padding: 0.5rem 0;
  cursor: pointer;
}

.view-replies > span {
  color: inherit;
  padding: 0 0 0 0.5rem;
}

.view-replies > svg {
  color: inherit;
}

.chevron-down {
  width: 15px;
  height: 15px;
}

/* Secondary Column Content */

.tags-collection {
  position: relative;
  white-space: nowrap;
  margin: 0 0 1rem 0;
}

.tags-collection:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  background-image: linear-gradient(
    to right,
    transparent,
    var(--main-color) 85%
  );
  width: 15%;
}

.tags-container {
  width: 100%;
  overflow-x: scroll;
  padding-right: 2.5rem;
}

.tags-container::-webkit-scrollbar {
  display: none;
}

.tag {
  background-color: var(--nav-color);
  padding: 0.5rem 1rem;
  border: 1px solid var(--search-button-color);
  border-radius: 2rem;
  display: inline-block;
}

.suggestions-container {
  margin: 0;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  width: 100%;
}

.suggestion {
  width: 100%;
  cursor: pointer;
  margin-bottom: 0.5rem;
  display: grid;
  grid-template-columns: [image-start] 35% [image-end info-start] 1fr [info-end];
  grid-template-rows: [title-start] 50% [title-end meta-start] 50% [meta-end];
  grid-template-areas:
    "image title"
    "image meta"
    "image meta";
}

.image-container {
  position: relative;
  grid-area: image;
  overflow: hidden;
  width: 100%;
}

.image-container > img {
  width: 100%;
}

.timestamp {
  position: absolute;
  bottom: 10%;
  right: 5%;
  font-size: x-small;
  background-color: rgba(24, 24, 24, 0.8);
  padding: 0.1rem 0.2rem;
}

.suggestion-title {
  grid-area: title;
  width: 70%;
  font-size: medium;
  line-height: 1rem;
  max-height: 2rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  margin: 0.1rem 0 0 0.5rem;
}

.suggestion-meta {
  grid-area: meta;
  font-size: small;
  margin-left: 0.5rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 0.7rem;
}

.suggestion-meta > span {
  color: var(--text-secondary-color);
}
